@font-face {
  font-family: 'SF-Pro-Display-Medium';
  src: url('SF-Pro-Display-Medium.eot');
  src: url('SF-Pro-Display-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url('SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg'),
       url('SFProDisplay-Medium.ttf') format('truetype'),
       url('SFProDisplay-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

